<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>Label</key>
		<string>craft._server_name_.daemon</string>

		<key>UserName</key>
		<string>_user_</string>

		<key>ProgramArguments</key>
		<array>
      <string>exec</string>
_arguments_
		</array>

    <key>WorkingDirectory</key>
    <string>_working_dir_</string>

		<key>StandardErrorPath</key>
		<string>_log_path_</string>

		<key>StandardOutPath</key>
		<string>_log_path_</string>

		<key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>
	</dict>
</plist>